# Library required:

1. requests  # for retrive information from website
2. BeautifulSoup

# Installation:
pip install requests

pip install bs4

# 关系型数据库

## MySQL 基本操作：

### 连接数据库： 
mysql -u root -p #u: user name # p: password;
------------------------------------------------------------
### insert into table class:
insert into class (name)
values('高一二班')
OR:
insert into class (id,name)
values(2,'高一二班')

### modify data in the table:
update class set name = "gaoyisanban" where id = 2

### delete data from the table:[id will continue accumulate]
delete from class where id = 2

------------------------------------------------------------
### create database:
create databse NAME

### 指定字符集和校对及，创建数据库：
create database Examination default charset utf8mb4 collate utf8mb4_general_ci;

### delete databse:
drop database NAME

### create a table, named ''class'', contain "id" & "name":
CREATE TABLE class(
	ID int(11) unsigned not null auto_increment, 
	Name varchar(80) not null,
	primary key(id)
);

-----------------------------------------------------------
### 查看数据库：
show database_name;

### choose 数据库：
use database_name;

### check tables in the databse:
show table;

### see the structure of the table:
desc tables;

### see the data in the table:
select * from table_name;

### see the data in the table with limit:
select * from table_name limit 10;


# 非关系型数据库：
- Mongodb
- redis

# Python 操作数据库

In [ ]:
import pymysql

In [ ]:
#Connect to database
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')

In [ ]:
#Cursor
cursor=db.cursor()

In [ ]:
# create database 
# https://www.runoob.com/python3/python3-mysql.html
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 
# 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
 
cursor.execute(sql)
 
# 关闭数据库连接
db.close()

In [ ]:
# insert data to database 
# https://www.runoob.com/python3/python3-mysql.html

import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # 执行sql语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 如果发生错误则回滚
   db.rollback()
 
# 关闭数据库连接
db.close()

In [ ]:
# query data to database 
# https://www.runoob.com/python3/python3-mysql.html

import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 查询语句
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > %s" % (1000)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   for row in results:
      fname = row[0]
      lname = row[1]
      age = row[2]
      sex = row[3]
      income = row[4]
       # 打印结果
      print ("fname=%s,lname=%s,age=%s,sex=%s,income=%s" % \
             (fname, lname, age, sex, income ))
except:
   print ("Error: unable to fetch data")
 
# 关闭数据库连接
db.close()

In [ ]:
# update data to database 
# https://www.runoob.com/python3/python3-mysql.html
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')

# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 更新语句
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()
 
# 关闭数据库连接
db.close()

In [ ]:
# delete data to database 
# https://www.runoob.com/python3/python3-mysql.html

import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 删除语句
sql = "DELETE FROM EMPLOYEE WHERE AGE > %s" % (20)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交修改
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()
 
# 关闭连接
db.close()

# json

In [ ]:
#json

import json
data1='{"a":1, "b":2, "c":3}'
j_data=json.loads(data1)
type(j_data)  # return "dict"
j_data

# Python crawler

In [1]:
import requests
from bs4 import BeautifulSoup
import pymysql
 import time

In [2]:
def get_page(url):
    responce = requests.get(url)
    soup = BeautifulSoup(responce.text, 'lxml')
    return soup

In [3]:
def get_links(link_url):
    soup = get_page(link_url)
    # find the elements we want based on soup
    links_div = soup.find_all('div', class_="content__list--item--main")
    links = [link_url[0:22] + div.a.get('href') for div in links_div]
    return links

In [ ]:
# test
url = 'https://bj.lianjia.com/zufang/'
get_links(url)

In [4]:
def get_house_info(house_url):
    soup = get_page(house_url)
    price = soup.find('div', class_='content__aside--title').find('span').text
    unit = soup.find('div', class_='content__aside--title').text[len(price)+1:len(price)+4]
    house_info=soup.find_all('li', class_="fl oneline")
    house_info=soup.find_all('li', class_="fl oneline")
    area=house_info[1].text[3:]
    info = {
        'Price': price,
        'Unit': unit,
        'Area': area
    }
    return info

In [12]:
def get_db():
    return pymysql.connect(host='localhost', user='root',password='ybt930426',database='house',charset='utf8mb4')

def insert(db, house):
    values = "'{}'," * 2 +"'{}'"
    sql_values = values.format(house['Price'], house['Unit'],house['Area'])
    sql="""
        insert into house_info(price, unit, area) values({})
    """.format(sql_values)
    
    print(sql)
    
    try:
       cursor=db.cursor()
       # 执行sql语句
       cursor.execute(sql)
       # 提交到数据库执行
       db.commit()
    except:
       # 如果发生错误则回滚
       db.rollback()

In [ ]:
# test
url="https://bj.lianjia.com/zufang/BJ2549081322589265920.html"
len(get_house_info(url))

In [13]:
# setting={host='localhost', user='root',password='ybt930426',database='house',charset='utf8mb4'}
db= get_db()
links = get_links('https://bj.lianjia.com/zufang/abs')
for link in links:
    time.sleep(2)
    print("Extracted one house info successfully!!")
    house= get_house_info(link)
    insert(db, house)

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4300','元/月','65㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3000','元/月','97㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2500','元/月','72㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4200','元/月','40㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2500','元/月','70㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3200','元/月','62㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2500','元/月','61㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2800','元/月','91㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3000','元/月','70㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4500','元/月','61㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2800','元/月','62㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2600','元/月','66㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3600','元/月','77㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4800','元/月','38㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2400','元/月','50㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4200','元/月','38㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4650','元/月','43㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3900','元/月','22㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4500','元/月','49㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2900','元/月','72㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2800','元/月','55㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4300','元/月','83㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3200','元/月','57㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2900','元/月','61㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2800','元/月','78㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3000','元/月','48㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('2000','元/月','46㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4500','元/月','48㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('4500','元/月','89㎡')

Extracted one house info successfully!!

        insert into house_info(price, unit, area) values('3100','元/月','65㎡')